@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#sociaisHome a:nth-child(1){
  border-top-right-radius: 0.75rem;
}

#sociaisHome a:nth-child(2){
  border-end-end-radius: 0.75rem;
}

#sociaisFooter a:nth-child(2) img{
  height: 1.75rem;
}


::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: hsl(259, 79%, 59%); 
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(259, 79%, 50%);
}

/* Para Firefox */
.scrollbar {
  scrollbar-width: thin; 
  scrollbar-color: hsl(259, 79%, 59%) #f1f1f1; 
}

